@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Library";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408@1.0/LibraryK.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "UnDinaru";
  src: url("/fonts/UnDinaru.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'JoseonGulim';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

*/

* {
  box-sizing: border-box;
}

body {
  background-color: #fff5f8;
  font-family: "UnDinaru", sans-serif;
  letter-spacing: -0.04em;
}

/* 스크롤바 얇게 */
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ffaec0;
  border-radius: 2px;
}

/* 가로 스크롤 영역 */
.scroll-x {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
.scroll-x::-webkit-scrollbar {
  display: none;
}
